{{ include('_navbar.html.twig') }}
<!DOCTYPE>
<html>
	<body>

		<style>


			#myChart {
				width: 90% !important;
				height: 70% !important;
			}

			.space {
				display: flex;
				flex-direction: column;
				align-items: center;


			}


			@media(max-width: 440px) {
				#myChart {
					width: 90% !important;
					height: 300px !important;

				}

				.space {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 30%;
				}
			}
		</style>
		<div class="space">
			<canvas id="myChart"></canvas>
		</div>


		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


			<script>

				const labels = {{ labels|raw }};

const data = {
labels: labels,
datasets: [
{
label: 'Cours gain',
data: {{ data }},
backgroundColor: "rgb(31, 195, 108)",
borderColor: 'rgb(255, 99, 132)',
fill: true


}
]
};

const config = {
type: 'line',
data,
options: {}
};


var myChart = new Chart(document.getElementById('myChart'), config);
			</script>

		{% endblock %}


	</body>

</html>
