{{ include('_navbar.html.twig') }}
<!DOCTYPE html>
<html>

	<head>
		<title>Accueil</title>
	</head>
	<body>
		<ul class="list-group list-group-flush">
			{% for transacs in transac %}
				<li class="list-group-item">{{transacs}}</li>
			{% endfor %}
		</ul>

		<table class="ui selectable inverted table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th class="right aligned">Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>John</td>
					<td>Approved</td>
					<td class="right aligned">None</td>
				</tr>
				<tr>
					<td>Jamie</td>
					<td>Approved</td>
					<td class="right aligned">Requires call</td>
				</tr>
				<tr>
					<td>Jill</td>
					<td>Denied</td>
					<td class="right aligned">None</td>
				</tr>
			</tbody>
		</table>
	</body>

</html>
