{{ include('_navbar.html.twig') }}
<!DOCTYPE html>
<html>

	<head>
		<title>Accueil</title>
	</head>
	<body>
		<ul class="list-group list-group-flush">
			{% for transacs in transac %}
				<li class="list-group-item">{{transacs}}</li>
			{% endfor %}
		</ul>
	</body>

</html>
