{{ include('_navbar.html.twig') }}
<!DOCTYPE>
<html>
	<style>

		.row .col {
			border: solid black 1px
		}
	</style>
	<body>
		<a class="btn btn-primary" href="/transaction">redirect transaction</a>

		<div class="container">
			<div class="row">
				<div class="col col-md-3 col-xs-8 col-sm-4">test</div>

			</div>
		</div>
	</body>
</html>
