{{ include('_navbar.html.twig') }}
<!DOCTYPE>

<html>
	<head></head>

	<style>
		h1,
		h2 {
			text-align: center;
			margin: 5%;
		}

		.test {
			width: 300px;
			height: 300px;
		}
	</style>
	<body>

		<div class="content">
			<h1>
				Ah mince une 404 !</h1>

			<h2>On vous en veut pas ...</h2>
		</div>


		<img src="../Exception/casque-dastronaute.png" class="test" alt="cosmonaute"/>
	</body>
</html>
